@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&family=Noto+Sans+JP&family=Noto+Sans+Thai&display=swap');

/* @font-face {
  font-family: 'Phetsarath OT';
  src: url('../fonts/PhetsarathOT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansLao';
  src: url('../fonts/NotoSansLao-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */


html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
textarea,
input,
.entry-title,
.entry-header {
  font-family: 'Noto Sans Lao', 'Noto Sans JP', 'Noto Sans Thai', sans-serif;
}

/* Chakrapetch */
.card-shadow {
  box-shadow: 0 10px 17px 0 rgba(0, 0, 0, 0.116) !important;
}

@media screen {
  .print-content {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-content,
  .print-content * {
    visibility: visible;
  }

  .print-content {
    position: absolute;
    left: 0;
    top: 0;
  }
}